body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%
}

.title-box {
    background-color: #0c488c;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

    border-left: 20px #0c488c solid;
    border-bottom: 20px #0c488c solid;
}

.subtitle-box {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c488c;
    border-bottom: 20px;
    border-top: 20px;
}

.subtitle-box-2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c488c;
    border-bottom: 20px;
    border-top: 20px;
    margin-bottom: -0.5cm;
    margin-top: 2cm
}


.abstract {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    border-bottom: 20px;
    line-height: 150%;
    border-top: 20px;
    width: 95%;
}

.footer {
    margin-top: 20px;
    background-color: #0c488c;
    color: #ffffff;
}

.footer-logo {
    margin: auto auto;
    padding: 16px;
    text-align: center;
    display: flex;
    width: fit-content;
}

.mid-line {
    width: 1px;
    height: 80px;
    margin: 0 8px 0 10px;
    background-color: #e2e2e2;
}

.title-box img {
    border-top: 20px #0c488c solid;
    position: relative;
}

#paper-title {
    font-weight: 700;
    font-size: 26px;

    position: relative;
}

#submit {
    font-weight: 700;
    font-size: 23px;

    position: relative;
}

#ack {
    font-weight: 700;
    font-size: 18;

    position: relative;
}

#ack a {
    text-decoration: underline;
    color: #ffffff;
}

#ack a:visited {
    color: #ffffff;
}




.notion {
    float: left;
    width: 20%;
    box-sizing: border-box;
}

#link_lyric {
    text-decoration: underline;
    color: black;
}

#link_lyric:visited {
    color: black;
}

.clear {
    clear: both;
}

.demos-title {
    display: block;
    padding-top: 5px;
    margin: auto;
    margin-top: 20px;
    height: 55px;
    max-width: 1048px;
    position: relative;
    background-color: #e8f1ff;
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}

.subdemo-title {
    display: block;
    padding-top: 10px;
    margin: auto;
    height: 55px;
    max-width: 1048px;
    position: relative;
    background-color: #e8f1ff;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.demos {
    display: block;
    margin: 0 auto;
    max-width: 1500px;
    position: relative;
    background-color: #e8f1ff;
}

.demo-item {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    margin: 10px;
}

.content {
    width: 100%;
    margin: 60px auto 20px;
    text-align: center;
}

.sisdr {
    font-weight: 300;
    font-size: 12px;
    vertical-align: middle;
    position: relative;
}

.wrapper {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 450px);
    grid-gap: auto;
    grid-auto-rows: minmax(80px, auto);
    padding-top: 5px;
    position: relative;
    justify-content: center;
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: #e8f1ff;
    text-align: center;
}

.two1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    /*   如果有重叠，就使用 z-index */
    z-index: 1;
    background: #e8f1ff;
    text-align: center;
}

.two2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*   如果有重叠，就使用 z-index */
    z-index: 1;
    background: #e8f1ff;
    text-align: center;
}

.three1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background: #e8f1ff;
    text-align: center;
}

.three2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background: #e8f1ff;
    text-align: center;
}

.four1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: #e8f1ff;
    text-align: center;
}

.four2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background: #e8f1ff;
    text-align: center;
}

.five1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background: #e8f1ff;
    text-align: center;
}

.five2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background: #e8f1ff;
    text-align: center;
}